* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

/* NAVIGATION BAR */

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
  background: transparent;
  backdrop-filter: blur(15px);
}

.logo {
  width: 90px;
  height: auto;
}

.nav-list {
  display: flex;
  list-style: none;
}

/* Kapag may 'active' class, ipakita ang nav-list */
.nav-list.active {
  display: block;
}

.nav-list a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
  font-size: 19px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.nav-list a:hover {
  border-bottom: 2px solid orangered;
}

.nav-list a:hover,
.nav-list a.active {
  border-bottom: 5px solid white;
}
#menu-icon {
  color: black;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* HOME SECTION */

.home {
  background: rgb(179, 103, 75);
  background: linear-gradient(
    207deg,
    rgba(179, 103, 75, 1) 17%,
    rgba(189, 179, 174, 1) 30%,
    rgba(189, 179, 174, 1) 69%,
    rgba(179, 103, 75, 1) 82%
  );
  background-size: 100%;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h2 img {
  max-height: 50px;
  max-width: 50px;
  padding-right: 10px;
  color: orangered;
}

.home-text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.home-text h1 {
  font-size: 110px;
  font-weight: 700;
}

.home-text h2 {
  font-size: 35px;
  color: orangered;
  padding-bottom: 10px;
}

.home-text p {
  font-size: 20px;
}

.home-text span {
  color: orangered;
}

.home-text span a {
  text-decoration: none;
  color: orangered;
}

/* ABOUT SECTION */

.about {
  font-family: 'Montserrat', sans-serif;
  /* height: auto; */
  background: rgb(245, 245, 245);
}
.about-title {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}

.who-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
}
#name {
  color: orangered;
  font-size: 35px;
}
.about-item {
  /* text-align: start; */
  width: 50%;
  padding: 0 16px;
}
.about-item h1 {
  padding-bottom: 10px;
}
.about-item p {
  padding-bottom: 10px;
}
.about-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.about-img img {
  max-height: 140px;
  max-width: 150px;
  border-radius: 0.5em;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.about-img img:hover {
  transform: scale(1.3) rotate(10deg);
  opacity: 100%;
}
/* @media screen and (max-width: 768px) {
    .about-image {
      grid-column-gap: 8px;
      grid-row-gap: 4px;
    }
  } */
.educ-title h1 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding: 25px 0;
}
.main {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background-color: rgb(245, 245, 245);
  padding: 50px 0;
}
.main .head {
  font-size: 29px;
  color: orangered;
  position: relative;
  margin-bottom: 100px;
  font-weight: 500;
}
.main .head::after {
  content: ' ';
  position: absolute;
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, orangered, black);
}

.main {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background-color: rgb(245, 245, 245);
  padding: 50px 0;
}
.main .head {
  font-size: 29px;
  color: orangered;
  position: relative;
  margin-bottom: 100px;
  font-weight: 500;
}
.main .head::after {
  content: ' ';
  position: absolute;
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, orangered, black);
}

/* Container Css Start  */

.container {
  width: 70%;
  height: auto;
  margin: auto 0;
  position: relative;
}
.container ul {
  list-style: none;
}
.container ul::after {
  content: ' ';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, orangered, black);
}
.container ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
  position: relative;
  margin-bottom: 30px;
  z-index: 99;
}
.container ul li:nth-child(4) {
  margin-bottom: 0;
}
.container ul li .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  top: 0;
  display: grid;
  place-items: center;
}
.circle::after {
  content: ' ';
  width: 12px;
  height: 12px;
  background-color: #ff4000;
  border-radius: 50%;
}
ul li:nth-child(odd) .circle {
  transform: translate(50%, -50%);
  right: -15px;
}
ul li:nth-child(even) .circle {
  transform: translate(-50%, -50%);
  left: -45px;
}
ul li .date {
  position: absolute;
  width: 130px;
  height: 33px;
  background-image: linear-gradient(to right, #ff4000, #a6350f);
  border-radius: 15px;
  top: -45px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 13px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.container ul li:nth-child(odd) {
  float: left;
  clear: right;
  text-align: right;
  transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
  right: 20px;
}
.container ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}
ul li .heading {
  font-size: 17px;
  color: rgb(255, 57, 6);
}
ul li p {
  font-size: 13px;
  color: black;
  line-height: 18px;
  margin: 6px 0 4px 0;
}
ul li a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(255, 57, 6);
  transition: all 0.3s ease;
}
ul li .school {
  color: #fe5212;
  font-weight: bold;
}

/* RESPONSIVE */

@media only screen and (min-width: 798px) and (max-width: 1100px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 798px) {
  .container {
    width: 70%;
    transform: translateX(20px);
  }
  .container ul::after {
    left: -40px;
  }
  .container ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }
  .container ul li .circle {
    left: -40px;
    transform: translate(-50%, -50%);
  }
  .container ul li .date {
    left: 20px;
  }
  .container ul li:nth-child(odd) {
    transform: translateX(0px);
    text-align: left;
  }
  .container ul li:nth-child(even) {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 80%;
  }
  .container ul::after {
    left: -20px;
  }
  .container ul li .circle {
    left: -20px;
  }
}

/* END OF TIMELINE */

.certificate {
  background-color: rgb(245, 245, 245);
}
.certificate-title h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  padding: 30px 0;
}
.certificate-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.certificate-img img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 10%;
  border: 3px solid orangered;
}
/* NAVIGATION LIST */
@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .nav-list.active {
    display: block;
  }

  #menu-icon {
    display: block;
  }
}
/* ABOUT ITEM DITO YUNG MAGIGING COLUMN */

@media screen and (max-width: 768px) {
  .who-container {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .who-container .about-item {
    padding: 0 56px;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .who-container .about-item {
    padding: 0 24px;
    width: 100%;
  }
}
@media screen and (max-width: 450) {
  .who-container .about-item {
    padding: 0 16px;
    width: 100%;
  }
}

/* HOME */

@media only screen and (max-width: 768px) {
  .home-text {
    text-align: center;
    margin: 0 16px;
  }
}

@media screen and (max-width: 640px) {
  .home-text {
    text-align: left;
    padding: 170px 0;
  }
  .home-text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 335px) {
  .home-text {
    text-align: left;
    padding-top: 150px;
  }
  .home-text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 304px) {
  .home-text {
    text-align: left;
  }
  .home-text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 235px) {
  .home-text {
    text-align: left;
  }
  .home-text h1 {
    font-size: 40px;
  }
}
.works-title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  background-color: rgb(245, 245, 245);
}
.works-title h1 {
  font-weight: 600;
}
.contact-title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 50px;
}
/* .card{
        max-width: 350px;
        margin-left: 5rem;
        margin-bottom: 5.5rem;
    } */

.works-item {
  background-color: rgb(245, 245, 245);
}
.contact-content {
  background-color: #fe5212;
}
.btn.custom-btn {
  background-color: #fe5212 !important;
  color: #ffffff !important;
}
